@import 'app'

body
    background: $primary-color
    font-family: 'Muli', sans-serif
    font-weight: 400
    margin:  0
    padding: 0


.header-container
    height: 80vh
    width: 100%
    background-image: url('/img/header.jpeg')
    background-size: 100% 100%
    nav
        font-weight: 400
        display: flex;
        justify-content: space-between;
        width: 70%
        margin: 0 auto
        p
            font-weight: 600
        ul
            list-style-type: none
            overflow: hidden
            font-weight: 200
            margin-right: 2em
            li
                float: right

            li a
                color: $accent-color
                margin-left: 1em            
                display: block
                text-decoration: none
                text-align: center
        
    .text-slider
        width: 85%
        float: right
        margin-top: 4em

        .title-slider
            font-weight: 600
            font-size: 3em

        .description-slider
            display: inline-flex
            font-weight: 300
            font-size: 1em
            margin-top: -3em

        .text-all-projects
            margin-left: 10em
                    

.section-our-portfolio
    .container-header-portfolio
        .subtitle-page
            font-weight: 700
            font-size: 2em
            text-align: center

        p.description-profolio-page
            margin-top: -2em
            text-align: center
            font-weight: 200
        ul
            list-style-type: none
            display: flex
            justify-content: center
            align-items: center
            flex-wrap: wrap

            li
                padding: 0.5em


.section-project
    display: flex
    justify-content: center
    align-items: center
    .text-project
        text-align: center
        font-weight: 600
        font-size: 20px
    button
        margin-left: 1em
        background: $accent-color
        color: $primary-color
        border: 0
        padding: 1em


section.section-project    
    padding: 5em


footer
    background: $footer-color
    color: $primary-color
    height: 100%
    display: flex
    flex-wrap: wrap
    .container-footer
        display: flex
        flex-wrap: wrap
        justify-content: space-around
        font-weight: 200
        width: 100%
        .asent-news
            display: flex
            flex-direction: column
            input
                background: $footer-color
                border: 0
                height: 5vh
                
            button
                background: $primary-color
                cursor: pointer
                height: 5vh

        .asent-post
            .container-post
                display: flex
                img
                    width: 60px
                    height: 60px
                p.title-post
                    font-weight: 600
    
    .down-footer
        width: 100%
        border-top-color: $second-accent-color
        border-top-style: solid
        p.date-page-footer
            float: left
            margin-left: 1.5em
        ul
            list-style-type: none
            overflow: hidden
            font-weight: 200
            margin-right: 2em
            li
                float: right

            li a
                color: $primary-color
                margin-left: 1em            
                display: block
                text-decoration: none
                text-align: center

p.header-asent
    font-weight: 700
    font-size: 20px

.asent-icons
    display: flex
    justify-content: space-between

.down-menu
    p.date-page-footer
