<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")

    body

        header.header-container
            nav
                p ALISHA
                ul
                    li
                        a(href='#home') Home
                    li
                        a(href='#news') About
                    li
                        a(href='#contact') Team
                    li(style='float:right')
                        a.active(href='#about') Services
                    li(style='float:right')
                        a.active(href='#about') Blog
                    li(style='float:right')
                        a.active(href='#about') Contact

            
            .text-slider
                p.title-slider We are Alisha
                p.description-slider Creative Digital Agency
                


        section.section-our-portfolio
            aside.container-header-portfolio
                p.subtitle-page Our Portfolio
                p.description-profolio-page Lorem Ipsum is simply dummy text of the printing and typesetting industry
                ul
                    li ALL
                    li DESIGN
                    li DEVELOPMENT
                    li BRANDING
                    li ILLUSTRATION
                    li PHOTOGRAPHY

            .container-grib
                aside.container-grib-image
                    img(src="/img/grib/a.jpg", alt="", class="img-1")
                    img(src="/img/grib/b.jpg", alt="", class="img-2")
                    img(src="/img/grib/c.jpg", alt="", class="img-3")
                    img(src="/img/grib/d.jpg", alt="", class="img-4")
                    img(src="/img/grib/e.jpg", alt="", class="img-5")
                    img(src="/img/grib/a.jpg", alt="", class="img-6")
                    img(src="/img/grib/b.jpg", alt="", class="img-7")
                    img(src="/img/grib/c.jpg", alt="", class="img-8")
                    img(src="/img/grib/d.jpg", alt="", class="img-9")
                    img(src="/img/grib/e.jpg", alt="", class="img-10")        
                    img(src="/img/grib/e.jpg", alt="", class="img-11")                     

                button Load More

        section.section-project
            .asent-project
            p.text-project Have any project in mind?
            button Let's Work Together            

    
        footer
            .container-footer
                .asent-cont
                    p.header-asent Contant Us
                    p 12 Street, Nirvana Avenue, South Korea
                    p Yourmail@gmail.com
                    p +88 0 (123) 4521
                    .asent-icons
                        img(src="img/icons/facebook-logo.png", alt="")
                        img(src="img/icons/twitter-logo-silhouette.png", alt="")
                        img(src="img/icons/linkedin-logo.png", alt="")
                        img(src="img/icons/instagram-logo.png", alt="")
                        img(src="img/icons/vimeo-logo.png", alt="")
                        img(src="img/icons/pinterest.png", alt="")

                
                .asent-links
                    p.header-asent Links
                    p Terms and condition
                    p Our service 
                    p Privacy Policy
                    p Disclaimer
                
                .asent-post
                    p.header-asent Recent Post
                    .container-post
                        img(src="/img/post/bathroom.jpeg", alt="")
                        .section-text
                            p.title-post What is the best web
                            .separe-data-title
                                p 27 may 2018

                    .container-post
                        img(src="/img/post/cofe.jpg", alt="")
                        .section-text
                            p.title-post Basic Of Ui/Ux
                            .separe-data-title
                                p 22 may 2018


                .asent-news
                    p.header-asent Newsletter
                    input(type="email", name="" placeholder="Email")
                    button SUBSCRIBE

            .down-footer
               
                p.date-page-footer ALISHA
                    
                ul
                    li
                        a(href='#home') Home
                    li
                        a(href='#news') About
                    li
                        a(href='#contact') Team
                    li(style='float:right')
                        a.active(href='#about') Services
                    li(style='float:right')
                        a.active(href='#about') Blog
                    li(style='float:right')
                        a.active(href='#about') Contact

