<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="css/style.css")
    body

        header
            nav
                p ALISHA
                ul
                    li HOME
                    li ABOUT
                    li TEAM
                    li SERVICES
                    li BLOG
                    li Contact
        

        section
            p Our Portfolio
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry
            ul
                li ALL
                li DESIGN
                li DEVELOPMENT
                li BRANDING
                li ILLUSTRATION
                li PHOTOGRAPHY

        section
            p Have any project in mind?
            button Let's Work Together            


        footer
            div
                | Contant Us

            div(class="down")
                p Aisiha 2018
                p HOME 
                p ABOUT
                P TEAM
                P BLOG
                P CONTACT